.container{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    gap: 1em;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}